* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  border: 1px solid red;
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app_dropdown {
  background-color: #fff;
  width: 150px;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}
/* .app_chartTitle {
  margin: 5px;
} */

.app_col-left {
  flex-basis: 70%;
  border: 1px solid darkslategrey;
}
.app_col-right {
  flex-basis: 25%;
  /* flex-grow: 1; */
  border: 1px solid rgb(216, 53, 24);
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
